/* style.css */

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: #f0f0f0;
	text-align: center;
	width: 100%;
}
h1 {
        color: #333;
}

#main-body {
	margin: auto;
	text-align: center;
	padding: 10px;
	width: 100%;
}

#main-form-div {
	padding: 10px;
}

#current_bio {
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

#dbz-picture {
	width: 400px;
	height: 250px;
	border-radius: 10px;
}

button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: #0056b3;
}

